.sidebar {
    position: fixed;
    left: 0;
    top: 0;
    width: 220px;
    height: 100vh;
    background-color: #001CA9;
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebar p {
    color: #AAB5FF;
    font-size: 12px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.sidebar a {
    display: block;
    width: 100%;
    box-sizing: border-box;
    color: white;
    text-decoration: none;
    padding: 14px 16px;
    margin-bottom: 10px;
    background-color: #1D36C7;
    border-radius: 8px;
    transition: 0.3s;
}

.sidebar a:hover {
    background-color: #778EFF;
}

.sidebar a.active {
    background-color: #778EFF;
    font-weight: bold;
}
.sidebar a:last-child {
    margin-top: 330px;
}