.paginaLogin {
    position: fixed;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #001CA9;
    box-sizing: border-box;
}

.paginaLogin .logo {
    margin-top: -80px;
    width: 220px;
    height: auto;
}

.paginaLogin .topo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.paginaLogin .texto{
    display: flex;
    color: white;
    flex-direction: column;
    align-items: flex-start;
    margin-top: -20px;
}

.paginaLogin h1 {
    font-weight: bold;
    font-size: 75px;
    margin-bottom: 7%;
    font-stretch: semi-condensed;
}

.paginaLogin .subtitulo{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 30px;
    max-width: 300px;
    line-height: 1.6;
    text-align: left;
}

.paginaLogin .quadrado {
    background: white;
    width: 400px;
    border-radius: 30px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
}

.paginaLogin h2{
    font-family: 'Poppins', sans-serif;
    font-weight: 550;
    font-size: 20px;
    color: black;
}

.paginaLogin input {
    width: 380px;
    height: 50px;
    border-radius: 10px;
    border: 1px solid gray;
    padding-left: 20px;
    font-size: 20px;
    background-color: white;
    color: black;
}

.paginaLogin .voltar {
    position: fixed;
    top: 40px;
    left: 40px;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 5px 8px;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    color: #ffffff;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.3s;
}

.paginaLogin .voltar:hover {
    background: transparent !important;
    opacity: 0.8;
}

.paginaLogin .voltar svg {
    font-size: 19px;
}

.paginaLogin .entrar {
    width: 404px;
    height: 54px;
    border: none;
    border-radius: 10px;
    background-color: #001CA9;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.paginaLogin .entrar:hover {
    background-color: #3249D8;
}
