.paginaInicial {
    min-height: 100vh;
    margin-left: 280px;
    padding: 30px 40px;

    background-image: url("../Home/img/image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.cresce {
    color: #1637b7;
    font-weight: 700;
    font-size: 48px;
}

.linha {
    width: 120px;
    height: 6px;
    background: #1637b7;
    border-radius: 10px;
    margin: 20px 0;
}

.descricao {
    max-width: 450px;
    color: #555;
    line-height: 1.5;
}

.destaque {
    font-weight: 700;
    color: #1637b7;
}

.funcionalidades {
    margin-top: 40px;
}

.funcionalidades h3 {
    text-align: center;
    margin-bottom: 30px;
}

.cards {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.card {
    width: 220px;
    background: white;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 3px 10px rgba(0,0,0,.1);
}

.cta {
    margin-top: 40px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mensagem {
    border: 2px solid #31c76a;
    border-radius: 10px;
    padding: 15px;
}

.botaoCadastro {
    background-color: #2ecf73;
    color: white;
    text-decoration: none;

    padding: 14px 24px;
    border-radius: 12px;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    font-weight: 600;
    font-size: 16px;

    transition: 0.2s ease;
    cursor: pointer;
}