.paginaProf .btnEnviarpagAviso {
    width: 140px;
    border: 1px solid #ccc;
    background: #001CA9;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    color: white;
}

.paginaProf .btnVisualizarpagAviso:hover{
    background-color: gray;
}

.paginaProf .btnVisualizarpagAviso {
    width: 140px;
    border: 1px solid #ccc;
    background: white;
    padding: 10px 18px;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    color: black;
}