.paginaProf {
    min-height: 100vh;
    width: calc(100vw - 280px);
    margin-left: 280px;
    box-sizing: border-box;
    padding: 40px;
    background-color: #FAFAFA; /* Fundo suave para destacar os cards brancos */
}

.paginaProf .topo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.paginaProf .texto {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 20px;
    padding-left: 30px;
    gap: 20px;
}

.paginaProf h1 {
    font-size: 40px;
    font-weight: 600;
    margin: 0;
    line-height: 1.3;
    color: black;
    max-width: 300px;
}

.paginaProf .botoesTopo {
    padding-top: 10px;
    padding-left: 70px;
    display: flex;
    gap: 2px;
    flex-shrink: 0;
}

.dashboard-grid-prof {
    display: grid;
    grid-template-columns: repeat(2, 320px); 
    gap: 35px;
    justify-content: center; 
    margin-top: 60px;
}

.card-metric {
    background: #FFFFFF;
    width: 320px;
    height: 140px;
    border-radius: 24px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding: 0 28px;
    box-sizing: border-box;
    gap: 22px;
    border: 1px solid rgba(0,0,0, 0.02);
}

.icon-box {
    width: 64px;
    height: 64px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    flex-shrink: 0;
}

.bg-verde {
    background-color: #E6F4EA;
    color: #138636;
}

.bg-amarelo {
    background-color: #FEF7E0;
    color: #B08800; 
}

.bg-vermelho {
    background-color: #FCE8E6;
    color: #D93025;
}

.card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card-info span {
    font-size: 16px;
    font-weight: 600;
    color: #1E1E1E;
    margin-bottom: 6px;
}

.card-info strong {
    font-size: 38px;
    font-weight: 600;
    color: #000000;
    line-height: 1;
}