.conteudo-principal-solEscolas {
    margin-left: 280px;
    padding: 60px 40px;
    box-sizing: border-box;
    width: calc(100% - 280px);
}

.cabecalho-abas-solEscolas {
    display: flex;
    justify-content: flex-start; 
    align-items: flex-start;
    gap: 60px; 
    margin-bottom: 50px;
}

.cabecalho-abas-solEscolas .titulo-pagina {
    font-size: 34px;
    color: #000000;
    margin: 0;
    width: 300px;
    min-width: 300px;
    flex-shrink: 0; 
    line-height: 1.2;
}

.conteudo-principal-solEscolas  .botoes-alternador-solEscolas {
    display: flex;
    gap: 2px;
    margin-top: 5px;
}

.conteudo-principal-solEscolas  .botao-aba {
    width: 140px;
    height: 44px;
    border: 1px solid #dcdcdc;
    border-radius: 8px;
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
    font-weight: normal;
    cursor: pointer;
    transition: all 0.2s ease;
}

.conteudo-principal-solEscolas  .botao-aba.ativo {
    background-color: #0021a5;
    color: #ffffff;
    border-color: #0021a5;
}

.conteudo-principal-solEscolas .titulo-pagina {
    font-size: 34px;
    color: #000000;
    margin: 0;
}

.conteudo-principal-solEscolas .botao-enviar-solEd,
.conteudo-principal-solEscolas .botao-enviar-solRemocao {
    display: flex;
    justify-content: center;
    margin-top: 25px;
}

.conteudo-principal-solEscolas .botao-enviar-solEd button,
.conteudo-principal-solEscolas .botao-enviar-solRemocao button {
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 8px;
    background-color: #2ecc71;
    color: white;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.conteudo-principal-solEscolas .botao-enviar-solEd button:hover,
.conteudo-principal-solEscolas .botao-enviar-solRemocao button:hover{
    background-color: #27ae60;
}

.conteudo-principal-solEscolas .container-tabela-escola {
    display: flex;
    justify-content: center;
    width: 100%;
}

.conteudo-principal-solEscolas .tabela-wrapper {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #dcdcdc;
    border-radius: 16px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.conteudo-principal-solEscolas .tabela-escola {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
}

.conteudo-principal-solEscolas .tabela-escola th {
    color: #0021a5;
    font-size: 18px;
    padding: 24px 16px;
    border-bottom: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
}

.conteudo-principal-solEscolas .tabela-escola td {
    color: #000000;
    font-size: 16px;
    font-weight: 600;
    padding: 22px 16px;
    border-bottom: 1px solid #dcdcdc;
    border-right: 1px solid #dcdcdc;
}

.conteudo-principal-solEscolas .tabela-escola th:last-child,
.conteudo-principal-solEscolas .tabela-escola td:last-child {
    border-right: none;
}

.conteudo-principal-solEscolas .tabela-escola tr:last-child td {
    border-bottom: none;
}

.envio-solicitacao-edicao .linha-formulario{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.envio-solicitacao-edicao .linha-formulario .campo{
    max-width: 250px;
}

.container-remover-escola{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-remover-escola .campo {
    display: flex;
    flex-direction: column;
    width: 500px;
}

.container-remover-escola .campo label{
    margin-bottom: 8px;
    font-size: 18px;
    font-weight: 600;
}

.container-remover-escola .campo input {
    width: 100%;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    border-radius: 10px;
    background-color: white;
    color: #666666;
}

.container-remover-escola .campo textarea {
    width: 500px;
    height: 180px;
    background-color: white;
    color: #666666;
    border: 1px solid #cccccc;
    border-radius: 10px;
    padding: 12px;
    resize: none;
    box-sizing: border-box;
}
